div#wrap {
  position: relative;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  overflow: auto;
}
div#content {
  background-color: yellow;
  right: 300px;
  margin-top: 200px;
  border: 3px solid orange;
  width: 70%;
  height: 100px;
  opacity: 0.9;
}

div#text {
  position: relative;
  margin-top: 15px;
}

div#dialogueText {
  position: relative;
  top: -10px;
}
