div#game {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: black;
  padding-top: 40px;
  overflow: none;
}

div#pause {
  -webkit-filter: blur(5px);
  filter: blur(5px) grayscale(100%) sepia(100%) hue-rotate(130deg);
  text-align: center;
  background-color: black;
}

div#loading {
  height: 600px;
  width: 600px;
  text-align: center;
  background-color: black;
}
